<a href="https://colab.research.google.com/github/GeniusGun/python/blob/master/pandas/pandas_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# 03-1 나만의 데이터 만들기

## [1]

### (1) 시리즈와 데이터프레임 직접 만들기

 #### _1._
>판다스의 Series 메서드에 리스트를 전달하여 시리즈를 생성합니다.

In [2]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

 #### _2._
>[ 02 장 ]에서 인덱스는 보통 0부터 시작한다고 설명했던 것을 기억하나요? 하지만 시리즈를 생성할 때 문자열을 인덱스로 지정할 수도 있습니다. 문자열을 인덱스로 지정하려면 Series 메서드의 index 인자를 통해 인덱스로 사용하고자 하는 문자열을 리스트에 담아 전달하면 됩니다.

In [3]:
s = pd.Series(['Wes McKinny', 'Creator of Pandas'])
print(s)
print('-'*30)

s = pd.Series(['Wes McKinny', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

0          Wes McKinny
1    Creator of Pandas
dtype: object
------------------------------
Person          Wes McKinny
Who       Creator of Pandas
dtype: object

#### _3._ 데이터프레임 만들기
> 데이터프레임을 만들기 위해서는 딕셔너리를 DataFrame 클래스에 전달해야 합니다.

In [4]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]
})
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

 #### _4._
>시리즈와 마찬가지로 데이터프레임도 인덱스를 따로 지정하지 않으면 인덱스를 0부터 자동으로 생성합니다. 인덱스를 따로 지정하려면 index 인자에 리스트를 전달하면 됩니다. 또 columns인자를 사용하면 데이터프레임의 열 순서를 지정할 수 있습니다. 예를 들어 데이터프레임을 만들때 Occuptaion, Born, Died, Age의 순으로 딕셔너리를 전달했어도 columns 인자에 Occuption, Born, Age, Died의 순서로 열 이름을 전달하면 생성된 데이터프레임의 열 순서는 columns에 전달한 값을 따라갑니다.

In [5]:
scientists = pd.DataFrame(
    data = {'Occupation' : ['Chemist', 'Statistician'],
            'Born' : ['1920-07-25', '1876-06-13'],
            'Died' : ['1958-04-16', '1937-10-16'],
            'Age' : [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Age', 'Died']
)

print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

#### _5._
>[ 과정 1 ]에서 데이터프레임을 만들 때 딕셔너리를 전달한다고 했습니다.그런데 딕셔너리는 키(Key)와 값(Value)으로 이루어진 한 쌍의 데이터들의 순서는 보장하지 않습니다. 만약 순서가 보장된 딕셔너리를 전달하려면 OrderedDict를 사용해야 합니다. 다음과 같이 입력하면 딕셔너리의 데이터 수너를 그대로 유지하면서 데이터프레임을 만들 수 있습니다.

In [6]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
                                       ('Name', ['Rosaline Franklin', 'William Gosset']),
                                       ('Occupation', ['Chemist', 'Statistician']),
                                       ('Born', ['1920-07-25', '1876-06-13']),
                                       ('Died', ['1958-04-16', '1937-10-16']),
                                       ('Age', [37, 61])
]))
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 03-2 시리즈 다루기 - 기초
>판다스의 데이터를 구성하는 가장 기본 단위는 시리즈입니다. 이번에는 데이터프레임에서 시리즈를 선택하는 방법에 대해 알아보겠습니다.

## [1]

### (1) 데이터프레임에서 시리즈 선택하기

#### _1._
>먼저 변수 Scientists에 데이터프레임을 준비합니다.

In [19]:
scientists = pd.DataFrame(
    data = {'Occupation': ['Chemist', 'Statistician'],
            'Born' : ['1920-07-25', '1876-06-13'],
            'Died' : ['1958-04-16', '1937-10-16'],
            'Age' : [37, 61]},   
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Died', 'Age']
);print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

#### _2._
>데이터프레임에서 시리즈를 선택하려면 loc 속성에 인덱스(과학자 이름)를 전달하면 됩니다. 절말 시리즈를 선택한 것인지 확인하기 위해 type으로 한 번 더 검사합니다.

In [14]:
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

#### _3._
>forst_row를 출력해 보겠습니다. 여기서 주목해야 할 점은 데이터프레임을 만들 때 Age열에 정수형 리스트를 전달해도 시리즈(first_row)를 출력해 보면 시리즈의 자료형을 오브젝트로 인식한다는 점입니다.

In [15]:
print(first_row)        # Age의 자료형은 무시합니다.

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

## [2] 시리즈 속성과 메서드 사용하기 - index, values, keys

### (1) index, values 속성과 keys 메서드 사용하기

#### _1._ index 속성 사용하기
>먼저 index 속성을 사용해 보겠습니다. index 속성에는 시리즈의 인덱스가 들어 있습니다.

In [17]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

#### _2._ values 속성 사용하기
>values 속성에는 시리즈의 데이터가 저장되어 있습니다.

In [18]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

#### _3._ keys 메서드 사용하기
>keys는 속성이 아니라 메서드 입니다. keys 메서드의 기능은 무엇일까요? keys 메서드는 index 속성과 같은 역할을 합니다. 즉 [ 과정 1 ] 의 결과와 동일한 결과값을 얻을 수 있습니다.

In [20]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

#### _4._ index 속성 응용하기
> 만약 index 속성의 첫 번째 값을 추출하려면 다음과 같이 코드를 작성하면 됩니다.

In [21]:
print(first_row.index[0])

Occupation

#### _5._ keys 메서드 응용하기
> 시리즈에는 keys 메서드의 결과값을 이욜하여 인덱스의 첫 번째 값을 추출하는 방법은 다음과 같습니다.

In [23]:
print(first_row.keys()[0])

Occupation

## [3] 시리즈의 기초 통계 메서드 사용하기
>시리즈에는 keys 메서드 외에도 다양한 메서드가 있습니다. 이번에는 시리즈에 미리 정의되어 있는 mean, min, max, std 메서드의 사용방법을 알아보겠습니다.

### (1) 시리즈의 mean, min, max, std 메서드 사용하기

#### _1._
> 이번에는 scientists의 Age 열을 추출해 보겠습니다.

In [25]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

#### _2._
>만약 시리즈를 구성하는 데이터가 정수라면 mean, min, max, std와 같은 통계 메서드를 사용할 수 있습니다.

In [32]:
print(ages.mean())
print('-'*20)

print(ages.min())
print('-'*20)

print(ages.max())
print('-'*20)

print(ages.std())

49.0
--------------------
37
--------------------
61
--------------------
16.97056274847714

#### _6._ 시리즈 메서드 정리
> 다음은 시리즈에서 자주 사용하는 메서드를 정리한 표입니다. 앞으로 종종 사용할 메서드이므로 한 번 읽어보고 넘어가기 바랍니다.
>```
>시리즈 메서드       설명
>-----------------------------------------------------------------
append              2개 이상의 시리즈 연결
describe            요약 통계량 계산
drop_duplicates     중복값이 없는 시리즈 반환
equals              시리즈에 해당 값을 가진 요소가 있는지 확인
get_values          시리즈 값 구하기(value 속성과 동일)
isin                시리즈에 포함된 값이 있는지 확인
min                 최소값 반환
max                 최대값 반환
mean                산술 평균 반환
median              중간값 반환
replace             특정 값을 가진 시리즈 값을 교체
sample              시리즈에서 임의의 값을 반환
sort_values         값을 정렬
to_frame            시리즈를 데이터프레임으로 변환
```