<a href="https://colab.research.google.com/github/GeniusGun/python/blob/master/pandas/pandas_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 03-1 나만의 데이터 만들기

## [1]

### (1) 시리즈와 데이터프레임 직접 만들기

 #### _1._
>판다스의 Series 메서드에 리스트를 전달하여 시리즈를 생성합니다.

In [0]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

 #### _2._
>[ 02 장 ]에서 인덱스는 보통 0부터 시작한다고 설명했던 것을 기억하나요? 하지만 시리즈를 생성할 때 문자열을 인덱스로 지정할 수도 있습니다. 문자열을 인덱스로 지정하려면 Series 메서드의 index 인자를 통해 인덱스로 사용하고자 하는 문자열을 리스트에 담아 전달하면 됩니다.

In [0]:
s = pd.Series(['Wes McKinny', 'Creator of Pandas'])
print(s)
print('-'*30)

s = pd.Series(['Wes McKinny', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

0          Wes McKinny
1    Creator of Pandas
dtype: object
------------------------------
Person          Wes McKinny
Who       Creator of Pandas
dtype: object

#### _3._ 데이터프레임 만들기
> 데이터프레임을 만들기 위해서는 딕셔너리를 DataFrame 클래스에 전달해야 합니다.

In [0]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]
})
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

 #### _4._
>시리즈와 마찬가지로 데이터프레임도 인덱스를 따로 지정하지 않으면 인덱스를 0부터 자동으로 생성합니다. 인덱스를 따로 지정하려면 index 인자에 리스트를 전달하면 됩니다. 또 columns인자를 사용하면 데이터프레임의 열 순서를 지정할 수 있습니다. 예를 들어 데이터프레임을 만들때 Occuptaion, Born, Died, Age의 순으로 딕셔너리를 전달했어도 columns 인자에 Occuption, Born, Age, Died의 순서로 열 이름을 전달하면 생성된 데이터프레임의 열 순서는 columns에 전달한 값을 따라갑니다.

In [0]:
scientists = pd.DataFrame(
    data = {'Occupation' : ['Chemist', 'Statistician'],
            'Born' : ['1920-07-25', '1876-06-13'],
            'Died' : ['1958-04-16', '1937-10-16'],
            'Age' : [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Age', 'Died']
)

print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

#### _5._
>[ 과정 1 ]에서 데이터프레임을 만들 때 딕셔너리를 전달한다고 했습니다.그런데 딕셔너리는 키(Key)와 값(Value)으로 이루어진 한 쌍의 데이터들의 순서는 보장하지 않습니다. 만약 순서가 보장된 딕셔너리를 전달하려면 OrderedDict를 사용해야 합니다. 다음과 같이 입력하면 딕셔너리의 데이터 수너를 그대로 유지하면서 데이터프레임을 만들 수 있습니다.

In [0]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
                                       ('Name', ['Rosaline Franklin', 'William Gosset']),
                                       ('Occupation', ['Chemist', 'Statistician']),
                                       ('Born', ['1920-07-25', '1876-06-13']),
                                       ('Died', ['1958-04-16', '1937-10-16']),
                                       ('Age', [37, 61])
]))
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 03-2 시리즈 다루기 - 기초
>판다스의 데이터를 구성하는 가장 기본 단위는 시리즈입니다. 이번에는 데이터프레임에서 시리즈를 선택하는 방법에 대해 알아보겠습니다.

## [1]

### (1) 데이터프레임에서 시리즈 선택하기

#### _1._
>먼저 변수 Scientists에 데이터프레임을 준비합니다.

In [0]:
scientists = pd.DataFrame(
    data = {'Occupation': ['Chemist', 'Statistician'],
            'Born' : ['1920-07-25', '1876-06-13'],
            'Died' : ['1958-04-16', '1937-10-16'],
            'Age' : [37, 61]},   
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Died', 'Age']
);print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

#### _2._
>데이터프레임에서 시리즈를 선택하려면 loc 속성에 인덱스(과학자 이름)를 전달하면 됩니다. 절말 시리즈를 선택한 것인지 확인하기 위해 type으로 한 번 더 검사합니다.

In [0]:
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

#### _3._
>forst_row를 출력해 보겠습니다. 여기서 주목해야 할 점은 데이터프레임을 만들 때 Age열에 정수형 리스트를 전달해도 시리즈(first_row)를 출력해 보면 시리즈의 자료형을 오브젝트로 인식한다는 점입니다.

In [0]:
print(first_row)        # Age의 자료형은 무시합니다.

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

## [2] 시리즈 속성과 메서드 사용하기 - index, values, keys

### (1) index, values 속성과 keys 메서드 사용하기

#### _1._ index 속성 사용하기
>먼저 index 속성을 사용해 보겠습니다. index 속성에는 시리즈의 인덱스가 들어 있습니다.

In [0]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

#### _2._ values 속성 사용하기
>values 속성에는 시리즈의 데이터가 저장되어 있습니다.

In [0]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

#### _3._ keys 메서드 사용하기
>keys는 속성이 아니라 메서드 입니다. keys 메서드의 기능은 무엇일까요? keys 메서드는 index 속성과 같은 역할을 합니다. 즉 [ 과정 1 ] 의 결과와 동일한 결과값을 얻을 수 있습니다.

In [0]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

#### _4._ index 속성 응용하기
> 만약 index 속성의 첫 번째 값을 추출하려면 다음과 같이 코드를 작성하면 됩니다.

In [0]:
print(first_row.index[0])

Occupation

#### _5._ keys 메서드 응용하기
> 시리즈에는 keys 메서드의 결과값을 이욜하여 인덱스의 첫 번째 값을 추출하는 방법은 다음과 같습니다.

In [0]:
print(first_row.keys()[0])

Occupation

## [3] 시리즈의 기초 통계 메서드 사용하기
>시리즈에는 keys 메서드 외에도 다양한 메서드가 있습니다. 이번에는 시리즈에 미리 정의되어 있는 mean, min, max, std 메서드의 사용방법을 알아보겠습니다.

### (1) 시리즈의 mean, min, max, std 메서드 사용하기

#### _1._
> 이번에는 scientists의 Age 열을 추출해 보겠습니다.

In [0]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

#### _2._
>만약 시리즈를 구성하는 데이터가 정수라면 mean, min, max, std와 같은 통계 메서드를 사용할 수 있습니다.

In [0]:
print(ages.mean())
print('-'*20)

print(ages.min())
print('-'*20)

print(ages.max())
print('-'*20)

print(ages.std())

49.0
--------------------
37
--------------------
61
--------------------
16.97056274847714

#### _3._ 시리즈 메서드 정리
> 다음은 시리즈에서 자주 사용하는 메서드를 정리한 표입니다. 앞으로 종종 사용할 메서드이므로 한 번 읽어보고 넘어가기 바랍니다.
>```
>시리즈 메서드       설명
>-----------------------------------------------------------------
append              2개 이상의 시리즈 연결
describe            요약 통계량 계산
drop_duplicates     중복값이 없는 시리즈 반환
equals              시리즈에 해당 값을 가진 요소가 있는지 확인
get_values          시리즈 값 구하기(value 속성과 동일)
isin                시리즈에 포함된 값이 있는지 확인
min                 최소값 반환
max                 최대값 반환
mean                산술 평균 반환
median              중간값 반환
replace             특정 값을 가진 시리즈 값을 교체
sample              시리즈에서 임의의 값을 반환
sort_values         값을 정렬
to_frame            시리즈를 데이터프레임으로 변환
```

# 03-3 시리즈 다루기 - 응용

## [1] 시리즈와 불린 추출
> [ 02 장 ]에서는 원하는 데이터를 추출할 때 특정 인덱스를 지정하여 추출했습니다. 하지만 보통은 데이터의 정확한 인덱스를 모르는 경우가 더 많습니다. 이런 경우에 사용하는 방법이 불린 추출입니다. 불린 추출은 특정 조건을 만족하는 값만 추출할 수 있습니다.

### (1) 시리즈와 불린 추출 사용하기

#### _1._
>이번에는 'scientists.csv'라는 이름의 데이터를 불러옵니다.

In [0]:
scientists = pd.read_csv('/content/drive/My Drive/Colab Notebooks/python/pandas/data/doit_pandas-master/data/scientists.csv')

In [0]:
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

#### _2._
>앞에서 시리즈의 mean, min, max, std 메서드를 호출하여 통계 수치를 계산했던 것을 기억하나요? 통계 수치의 결과값을 이용하여 불린 추출을 진행해 보겠습니다. 다음은 Age열을 추출하여 max, mean 메서드를 사용한 것입니다.

In [0]:
ages = scientists['Age']

print(ages.max())
print('-'*10)
print(ages.mean())

90
----------
59.125

#### _3._
>이제 불린 추출을 사용할 차례이니다. 예를 들어 평균 나이보다 나이가 많은 사람의 데이터를 추출하려면 어떻게 해야 할까요? 다음의 코드를 실행하면 평균 나이보다 나이가 많은 사람의 데이터만 출력됩니다.

In [0]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

#### _4._
>그런데 어떻게 이런 일이 가능할까요? 먼저 ages > ages.mean()의 결과를 출력해 보겠습니다. 그러면 1, 2, 3, 7 인덱스의 데이터가 참(True)이라는 것을 알 수 있습니다. 즉, 조건식을 만족한 값만 출력된 것입니다.

In [0]:
print(ages > ages.mean())
print('-'*30)
print(type(ages > ages.mean()))

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
------------------------------
<class 'pandas.core.series.Series'>

#### _5._
>[ 과정 3 ], [ 과정 4 ]를 모두 합친 코드는 다음과 같습니다. 즉, 리스트 형태로 탐이나 거짓을 담아 시리즈에 전달하면 참인 인덱스의 데이터만 추출할 수 있습니다. 바로 이것을 불린 추출이라고 합니다.

In [0]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

## [2] 시리즈와 브로드캐스팅
>그런데 ages > ages.mean()의 결과값의 개수가 여러개라는 것이 이상하지 않았나요? 이렇게 시리즈나 데이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 것을 브로드캐스팅(Broadcasting)이라고 합니다. 그리고 시리즈처럼 여러개의 값을 가진 데이터를 벡터라 하고 단순 크기를 나타내는 데이터를 스칼라라고 합니다. 앞으로 벡터와 스칼라라는 용어는 자주 사용하마로 기억해 두기 바랍니다.(시리즈는 벡터의 한 종류입니다.)

### (1) 벡터와 스칼라로 브로드캐스팅 수행하기

#### _1._
>다음은 같은 길이의 벡터로 더하기 연산과 곱하기 연산을 수행한 것입니다. 결괏값으로 같은 길이의 벡터가 출력됩니다

In [0]:
print(ages + ages)
print('-'*30)
print(ages * ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
------------------------------
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

#### _2._
>만약 벡터에 스칼라를 연산하면 어떻게 될까요? 다음은 벡터의 모든 값에 스칼라를 이용하여 브로드캐스팅한 결과입니다.

In [0]:
print(ages + 100)
print('-'*30)
print(ages *2)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
------------------------------
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

#### _3._
>길이가 서로다른 벡터를 연산하면 어떻게 될까요? 시리즈와 시리즈를 연산하는 경우 같은 인덱스 값만 계산합니다. 다음은 데이터의 개수가 2개인 시리즈와 8개인 시리즈를 더한 것입니다. 결괏값을 살펴보면 인덱스가 일치한 0, 1만 계산했다는 것을 알 수 있습니다. 나머지 인덱스(2~7)는 계산을 할 수 없기 때문에 누락값(NaN)으로 처리합니다.
>
>참고 : 벡터의 자료형에 따라 브로드캐스팅 방식이 달라집니다.

In [0]:
print(pd.Series([1, 100]))
print('-'*30)
print(ages + pd.Series([1, 100]))

0      1
1    100
dtype: int64
------------------------------
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

#### _4._
>다음은 sort_index 메서드를 사용한 것입니다. 이때 ascending 인자로 False를 전달하여 인덱스 역순으로 데이터를 정렬했습니다.
>
>참고 : 데이터의 역순이 아닙니다.

In [0]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

#### _5._
>그러면 인덱스 순서대로 정렬된 ages와 인덱스의 역순으로 정렬된 rev_ages를 연산하면 어떻게 될까요? age의 데이터와 rev_ages의 데이터를 순서대로 더할 것 같지만 그렇지 않습니다. 다름은 ages * 2와 ages + rev_ages의 결괏값을 출력한 것입니다. 어떤가요?
> ages * 2와 ages + rev_ages의 결괏값이 동일합니다. ages의 인덱스(0~7)와 rev_ages의 인덱스 (0~7)가 일치하는 값끼리 연산했기 때문입니다. 벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행한다는 것을 잊지 마세요.

In [0]:
print(ages * 2)
print('-'*30)
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
------------------------------
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 03-4 데이터프레임 다루기
>데이터프레임도 시리즈와 마찬가디로 불린 추출과 브로드캐스팅을 할 수 있습니다. 그러면 불린 추출부터 실습해 보겠습니다.

## [1]

### (1) 불린 추출과 브로드캐스팅

#### _1._ 불린 추출하기
> 데이터프레임도 불린추출을 할 수 있습니다. 다음은 데이터프레임의 Age 열의 평균보다 높은 행만 출력합니다.

In [0]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

#### _2._
>시리즈에 리스트를 참, 거짓을 전달하여 데이터를 추출했던 것을 기억하나요? 참, 거짓을 담은 리스트를 bool 벡터라고 부릅니다. 만약 bool 벡터의 길이가 데이터프레임의 행 길이보다 짧으면 bool 벡터의 길이만큼만 연산합니다. 다음은 데이터프레임의 loc속성에 길이가 4인 bool 벡터를 전달한 것입니다.
>
> 참고 : 위의 사항은 [ padas 0.23.0 ] 버전기준이며
>        현재의 [ pandas 0.25.3 ] 의 경우 bool 벡터와 데이터프레임의 행 길이가 일치해야만 견잔이 이루어진다.

In [0]:
# print(scientists.loc[[True, True, False, True]])        # error
print(scientists.loc[[True, True, False, True, True, True, False, True]])    
                      # 길이가 일치해야만 정상적인 연산이 이루어진다.
                      # 인덱스가 2, 6인 행 데이터는 bool값이 False이기 때문에 출력되지 않는다.

                Name        Born        Died  Age     Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37        Chemist
1     William Gosset  1876-06-13  1937-10-16   61   Statistician
3        Marie Curie  1867-11-07  1934-07-04   66        Chemist
4      Rachel Carson  1907-05-27  1964-04-14   56      Biologist
5          John Snow  1813-03-15  1858-06-16   45      Physician
7       Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

#### _3._ 브로드캐스팅하기
>데이터프레임에 스칼라 연산을 적용하면 어떻게 될까요? 앞에서 스칼라 연산을 적용할 때는 모든 요서에 스칼라를 적용하여 연산했습니다. 데이터프레임에도 마찬가지입니다. sciectists 데이터프레임에 2를 곱하면 정수데이터는 2를 곱한 숫자가 되고 문자열데이터는 문자열이 2배로 늘어납니다.

In [0]:
print(scientists * 2)

                                       Name  ...                            Occupation
0        Rosaline FranklinRosaline Franklin  ...                        ChemistChemist
1              William GossetWilliam Gosset  ...              StatisticianStatistician
2  Florence NightingaleFlorence Nightingale  ...                            NurseNurse
3                    Marie CurieMarie Curie  ...                        ChemistChemist
4                Rachel CarsonRachel Carson  ...                    BiologistBiologist
5                        John SnowJohn Snow  ...                    PhysicianPhysician
6                    Alan TuringAlan Turing  ...  Computer ScientistComputer Scientist
7                  Johann GaussJohann Gauss  ...            MathematicianMathematician

[8 rows x 5 columns]

#### 03-5 시리즈와 데이터프레임의 데이터 처리하기
> 지금까지는 시리즈와 데이터프레임에서 데이터를추출하는 여러 방법에 대해 알아보았습니다. 이번에는 시리즈와 데이터프레임에 있는 데이터를 처리하는 방법에 대해 알아보겠습니다.

## [1]

### (1) 시리즈와 데이터프레임의 데이터 처리하기

#### _1._ 열의 자료형 바꾸기와 새로운 열 추가하기
> scientists 데이터프레임의 Born과 Died 열의 자료형을 확인해 보겠습니다.
>
>참고 : 파이썬의 문자열은 판다스에서 오브젝트로 취급합니다.([ 2 장 ])

In [0]:
print(scientists['Born'].dtype)
print('-'*15)
print(scientists['Died'].dtype)

object
---------------
object

#### _2._
>날짜를 문자열로 저장한 데이터는 시간 관련 작업을 할 수 있도록 datetime 자료형으로 바꾸는 것이 더 좋습니다. 다음은 Born과 Died 열의 자료형을 datetime이라는 자료형으로 바꾼다음 format 속성을 '%Y-%m-%d'로 지정하여 날짜 형식을 지정한 것입니다.
>
>참고 : datetime 자료형은 12장에서 더 자세히 설명합니다.

In [0]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)
print('-'*40)

died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
----------------------------------------
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

#### _3._
>[ 과정 2 ]에서 각 데이터의 자료형을 datetime으로 바꿔 born_datetime, died_datetime에 저장했으니 이제 데이터프레임에 각각의 값을 새로운 열로 추가해 보겠습니다. 다음은 scientists 데이터프레임에 born_dt, died_dt열을 추가한 것입니다. shape 속성으로 데이터프레임의 형태를 살펴보면(8, 5)에서 (8,7)로 2개의 열이 추가되었다는 것을 알 수 있습니다.

In [0]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())
print('-'*100)
print(scientists.shape)     # shape의 두번째 값을 열을 의미합니다.

                   Name        Born  ...    born_dt    died_dt
0     Rosaline Franklin  1920-07-25  ... 1920-07-25 1958-04-16
1        William Gosset  1876-06-13  ... 1876-06-13 1937-10-16
2  Florence Nightingale  1820-05-12  ... 1820-05-12 1910-08-13
3           Marie Curie  1867-11-07  ... 1867-11-07 1934-07-04
4         Rachel Carson  1907-05-27  ... 1907-05-27 1964-04-14

[5 rows x 7 columns]
----------------------------------------------------------------------------------------------------
(8, 7)

#### _4._
>이제 시간 계산을 해볼까요? died_dt 열에서 born_dt를 빼면 과학자가 얼마동안 세상을 살다가 떠났는지 계산할 수 있습니다. 만약 결괏값이 제대로 출력되지 않는다면 [ 과정 1~3 ]을 다시 실행해 보세요.

In [0]:
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists.loc[:,['born_dt', 'died_dt', 'age_days_dt']])
print('-'*40)
print(scientists.iloc[:, -3:])

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days
----------------------------------------
     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

#### _5._
>시리즈 데이터를 적당히 섞어야 하는 경우도 있습니다. 판다스는 시리즈나 데이터프레임의 데이터를 무작위로 섞어볼 수도 있습니다. 먼저 Age 값을 출력하여 살펴보겠습니다.

In [0]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

#### _6._
>Age 열의 데이터를 섞으려면 random 라이브러리를 불러와야 합니다. random 라이브러리에는 데이터를 섞어주는 shuffle 메서드가 있습니다. shuffle 메서드에 Age열을 전달하여 데이터를 섞어보겠습니다. Age열을 출력해 보면 인덱스 0~7에 해당하는 값이 잘 섞여 있음을 알수있습니다.

In [0]:
import random

random.seed(42)     # seed 메서드는 컴퓨터가 생성하는 난수의 기준값을 정하기 위해 사용합니다.
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

/usr/lib/python3.6/random.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

#### _7._ 데이터프레임의 열 삭제하기
>때로는 열을 통째로 삭제해야 하는 경우도 있습니다. 먼저 scientists 데이터프레임의 열을 확인해 보겠습니다.

In [0]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

#### _8._
>데이터프레임에서 열을 삭제하면 데이터프레임의 drop 메서드를 사용해야 합니다.shupple 메서드로 섞은 Age 열을 삭제해 보겠습니다. Drop 메서드의 첫 번째 인자에 열 이름을 리스트에 담아 전달하고 두 번째 인자에는 axis=1을 전달하면 Age 열을 삭제할 수 있습니다.
>
>참고 : drop 메서드는 삭제한 열을 반환합니다.

In [0]:
scientists_droped = scientists.drop(['Age'], axis=1)
print(scientists_droped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 03-6 데이터 저장하고 불러오기
>지금까지 데이터를 추출하고 처리하는 방법에 대해 알아보았습니다. 일종의 '데이터 가공처리'를 거친 것입니다. 이렇게 잘 가공한 데이터는 안전하게 보관해야 다음에 또 사용할 수 있습니다. 판다스는 데이터를 저장하는 다양한 방법을 제공합니다. 여기서는 가공한 데이터를 피클, CSV, TSV 파일로 저장하고 다시 불러오는 방법에 대해 살펴봅니다.

## [1]

### (1) 데이터를 피클, CSV, TSV 파일로 저장하고 불러오기

#### _1._ 피클로 저장하기
>피클은 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법입니다. 피클로 저장하면 스프레드시트보다 더 작은 용량으로 데이터를 저장할 수 있어 매우 편리합니다. 시리즈를 피클로 저장하려면 ro_pickle 메서드를 사용하면 되는데, 이때 저장 경로를 문자열로 전달해야 합니다.
>
>참고 : 데이터를 오래 보관한다는 뜻으로 피클이라는 이름이 붙여니 것입니다.

In [0]:
names = scientists['Name']
names.to_pickle('/content/drive/My Drive/Colab Notebooks/python/pandas/write_data/scientists_name_series.pickle')

#### _4._
>데이터프레임도 피클로 저장할 수 있습니다.

In [0]:
scientists.to_pickle('/content/drive/My Drive/Colab Notebooks/python/pandas/write_data/scientists_df.pickle')

#### _4._
>피클은 바이너리 형태의 오브젝트이기 때문에 저장된 피클 데이터를 편집기와 같은 프로그램으로 열면 이상한 문자가 나타납니다. 피클 데이터는 반드시 read_pickle 메서드로 읽어 들여야 합니다.

In [0]:
scientists_names_from_pickle = pd.read_pickle("/content/drive/My Drive/Colab Notebooks/python/pandas/write_data/scientists_name_series.pickle")
print(scientists_names_from_pickle)
print('-'*90)

scientists_from_pickle = pd.read_pickle('/content/drive/My Drive/Colab Notebooks/python/pandas/write_data/scientists_df.pickle')
print(scientists_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object
------------------------------------------------------------------------------------------
                   Name        Born  ...    died_dt  age_days_dt
0     Rosaline Franklin  1920-07-25  ... 1958-04-16   13779 days
1        William Gosset  1876-06-13  ... 1937-10-16   22404 days
2  Florence Nightingale  1820-05-12  ... 1910-08-13   32964 days
3           Marie Curie  1867-11-07  ... 1934-07-04   24345 days
4         Rachel Carson  1907-05-27  ... 1964-04-14   20777 days
5             John Snow  1813-03-15  ... 1858-06-16   16529 days
6           Alan Turing  1912-06-23  ... 1954-06-07   15324 days
7          Johann Gauss  1777-04-30  ... 1855-02-23   28422 days

[8 rows x 8 columns]

#### _4._ CSV 파일과 TSV 파일로 저장하기
> CSV파일은 데이터를 쉼표로 구분하여 저장한 파일이고 TSV 파일은 데이터를 탭으로 구분하여 저장한 파일입니다. 실제로 각각의 파일을 텍스트 편집기로 열어 살펴보면 데이터가 쉼표, 탭으로 구분되어 있는 것을 알 수 있습니다.

#### _5._
>to_csv 메서드로 시리즈(names)와 데이터프레임(scientists)을 SCV 파일로 저장할 수 있습니다. 이때 sep 인자를 추가하여 '\t'를 지정하고 파일의 확장자를 '.tsv'로 지정하면 TSV 파일로 저잘할 수 있습니다.

In [0]:
names.to_csv('/content/drive/My Drive/Colab Notebooks/python/pandas/write_data/scientists_names_series.csv')
scientists.to_csv('/content/drive/My Drive/Colab Notebooks/python/pandas/write_data/scientists_df.tsv', sep = '\t')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

#### _+_ 시리즈와 데이터프레임을 엑셀 파일로 저장하기
>시리즈는 엑셀 구조와 맞지 않기 때문에 엑셀 파일로 저장할 수 없습니다. 엑셀 파일로 저장할 수 있는 데이터프레임으로 변환해야 합니다. 물론 데이터프레임은 엑셀 파일로 바로 저장할 수 있습니다. 단, xls 파일로 저장하려면 xlwt 라이브러리가 필요하고, xlsx 파일로 저장하려면 openpyxl 라이브러리가 필요합니다. 다음 명령어를 프롬프트에 입력하여 xlwt 라이브러리와 openpyxl 라이브러리를 설치하세요.(colab의 경우 두 라이브러리 모두 내장되어있습니다.)
```
pip install xlwt
pip install openpyxl
```
>시리즈는 to_frame 메서드를 사용해 데이터프레임으로 변환한 다음 엑셀 파일로 저장해야 합니다. 다음은 시리즈를 데이터프레임으로 변환한 다음 엑셀 파일(확장자 xls, xlsx)로 저장한 것입니다.

In [0]:
names_df = names.to_frame()

import xlwt
names_df.to_excel('/content/drive/My Drive/Colab Notebooks/python/pandas/write_data/names_df.xls')

import openpyxl
names_df.to_excel('/content/drive/My Drive/Colab Notebooks/python/pandas/write_data/names_df.xlsx')